.scrollable-table-container {
    max-height: 475px; /* Set the maximum desired height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.scrollable-table-container thead th {
    position: sticky; /* Make the <th> elements sticky */
    top: 0; /* Position the sticky header at the top of the container */
    background-color: #f5f5f5; 
    z-index: 1;
}  

.scrollable-table-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
  }
  
  .scrollable-table-container::-webkit-scrollbar-thumb {
    background-color: rgba(60, 60, 60, 0.507);
    border-radius: 5px;
  }
  
  .scrollable-table-container::-webkit-scrollbar-thumb:hover {
    background-color: (60, 60, 60, 0.507);
  }


  .cross {
    /* position: absolute; */
    /* top: -5px;
    right: -5px; */
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
  }

  .cross:hover {
    background-color: #c40000;
  }

.input-group{
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .col-sm-5 {
      width: 100%;
      float: none;
    }
    .input-group {
        margin: 10px 0;
    }
    .scrollable-table-container table {
      width: 100%;
    }
}

#searchInput{
    border-radius: 5px;
}

.custom-tooltip {
    font-size: 14px;
}

path.leaflet-interactive:focus {
    outline: none;
}

.custom-control {
    font-size: 16px;
    background-color: #ffffffa8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
.custom-control span {
    font-weight: bold;
}

.change-location {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change-location label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}


.change-location label.my-1 {
    margin-top: 10px;
}
  
.change-location input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Responsive styles for smaller screen sizes */
@media (max-width: 576px) {
    .change-location input[type="text"] {
      font-size: 12px;
    }
}

.add-trip{
    
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  

.add-trip label {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    text-align: center;
}

.add-trip label.my-1 {
    margin-top: 10px;
}

.add-trip input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Responsive styles for smaller screen sizes */
@media (max-width: 576px) {
    .add-trip input[type="text"] {
      font-size: 12px;
    }
}

/* Example custom CSS for the map container */
#map {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
